.image{
    width: 300px;
    height: 300px;
    padding : 50px
}
.banner_details{
    padding:20px;
    width: 50%;
    h1{
        color: white;
        font-family: "Lucida Console", "Courier New", monospace;
    }
    p{
        color: white;
    }
}

