<div class="banner">

    <div class="headingdiv">
        <h2 class="headingtext"><i class="bi bi-percent"></i> Offers and Deals </h2>
    </div>
</div>

<div class="offersdiv">

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> All
        </label>
        <label class="btn btn-outline-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> New User
        </label>
        <label class="btn btn-outline-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off"> Payment
        </label>
        <label class="btn btn-outline-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> Bulk Orders
          </label>
     </div>
    
     <div class="headingoffer">
         <h5> New User Offers</h5>
     </div>
     <div class="flexoffersdiv">

        <div class="card customcardstyle">
            <div class="card-body">
              <h5 class="card-title">Flat ₹150 Off</h5>
              <h6 class="card-subtitle mb-1 text-muted">50% Off upto ₹150. Valid for New Users.</h6>
            </div>
          </div>

          <div class="card customcardstyle">
            <div class="card-body">
              <h5 class="card-title">Flat ₹300 Off</h5>
              <h6 class="card-subtitle mb-1 text-muted">For the Orders above ₹700. Valid for New Users.</h6>
            </div>
          </div>
        
     </div>

     <div class="headingoffer">
        <h5> Payment Offers</h5>
    </div>
    <div class="flexoffersdiv">

       <div class="card customcardstyle">
           <div class="card-body">
             <h5 class="card-title">Flat ₹150 Off</h5>
             <h6 class="card-subtitle mb-1 text-muted">50% Off upto ₹150. Valid for New Users.</h6>
           </div>
         </div>
       
    </div>

    <div class="headingoffer">
        <h5> Bulk Order Offers</h5>
    </div>
    <div class="flexoffersdiv">

       <div class="card customcardstyle">
           <div class="card-body">
             <h5 class="card-title">Flat ₹150 Off</h5>
             <h6 class="card-subtitle mb-1 text-muted">50% Off upto ₹150. Valid for New Users.</h6>
           </div>
         </div>

    </div>

</div>

<div class="appofferdiv">

    <div class="appofferinternaldiv">

        <div class="left">
            <div class="appquote">
                <h1>You’ll love us even more on the app!</h1>
                <h5 class="subtext">Flat ₹200 OFF on first app order</h5>
                <div class="images">
                    <img src="../../assets/appstore1.png" width="150" height="50">
                    <img src="../../assets/appstore2.png" width="150" height="50">
                </div>
            </div>

           
        </div>
        <div class="right">
            <div class="imagediv">
                <img src="../../assets/phoneapp.jfif" width="100%" height="auto">
            </div>
                
        </div>
    </div>
</div>

<app-footer></app-footer>