

/* Testimonials */
.sec-testimonials {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  
 
  
  .carousel-control-next,
  .carousel-control-prev {
    & {
      color: rgba(101, 100, 100, 0.9);
    }
  
    &:focus,
    &:hover {
      color: rgb(92, 92, 92);
    }
  }
  
  