.banner{
    background-image: url("https://images.pond5.com/blurred-background-restaurant-food-court-footage-089482763_prevstill.jpeg");
    background-size: cover;
    width:100vw;
    height: 50vh;
    padding:20px;
}



body {
  font-family: "Karla", sans-serif;
   text-align: center;
   font-size: 50px;
   padding-top: 100px;
  background-color: #202020;
  color: #f9f9f9;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.cursor {
    animation: blink 0.7s infinite;
}