<div class="frontcontainer">
<div class="internalfrontcontainer">

  <div class = "col-md-6 text-center">
    <div class="bannertext">
      <h1>
        All we need is Love ,Peace <br>
          & <br>
          Biryani
      </h1>
    </div>
   
  </div>
  <div class = "col-md-6 text-center bannerimages" >
    <img src="../../assets/b1.png" width="30%">
    <img src="../../assets/b2.png" width="30%">
    <img src="../../assets/b3.jpg" width="30%">
    
  </div>
</div>

</div>

<div class="nameTitle">

  <p>
     <q>There are people in the world so hungry, 
      that God cannot appear to them except in the form of Biryani</q>
   </p>

</div>

<div class="resc">
  <div class="rescinner">
    
    <div>
      <h5 style="margin-left: 20px;color: grey;"> 20+ Biryani specials </h5>

      <hr>

      <div class="flexcontainer">

        <div class="card customfoodcard" *ngFor="let fooditem of topfooditems">
          <img src="../../assets/b3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Chicken Dum Biryani</h5>
            <p class="cardtextcustom"> Serves 2 , 3 Pc | | A delightfully hearty crispy chicken curry usually served in the form of semi gravy | | Served With Curry , Gravy And Raita</p>
          </div>
          <hr class="htag">
          <div class="flexcontainerprice">
            <p><i class="fa fa-inr"></i>200 </p>
            <p class="ml-auto"> 30mins </p>
          </div>
          
         
            <button class="btn btn-dark"> Add to Cart</button>
         
        </div>
        

      </div>

    </div>
  </div>
</div>

<div class="explorediv">
 
  <button type="button" class="btn btn-dark"> Explore All Biryanis</button>

</div>

<section id="sec-testimonials" class="sec-testimonials">
  <div class="container">
    <h1 class="h4 mb-5 text-center">Words from our members</h1>
    
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      
      
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class=" col-md-6">
              <blockquote class="blockquote">
                <small>The vibe here is bright and very optimistic. Clients love to visit us here and every day we make new friends and contacts with other start-ups. Being a a member is our secret super power.</small>

                <footer class="blockquote-footer mt-2">Timothy Wilson, CTO</footer>
              </blockquote>
            </div>
          </div>
        </div>
        
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <blockquote class="blockquote">
                <small>I've been a memeber for over 3 years. We have always been welcomed by friendly faces and helpful staff. This co-working space has everything we need from Wi-Fi to fresh and delicious coffee.</small>
            
                <footer class="blockquote-footer mt-2">Ziva Stark, CEO</footer>
              </blockquote>
            </div>
          </div>
        </div>
        
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <blockquote class="blockquote">
                <small>I joined since its opening and I couldn't have found a better working space. Being a member is so inspiring and I love the work environment: spacious, bright and full of entrepreneurs like me!</small>
            
                <footer class="blockquote-footer mt-2">Teresa Swanson, CEO</footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="fa fa-angle-left fa-2x"></span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="fa fa-angle-right fa-2x"></span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>


<app-footer></app-footer>
