.banner{
    background-image: url("../../assets/bmamu.jpg");
    background-size: cover;
    width:100%;
    height: 70vh;
    
}

.navdiv{
    a{
        color: gold;
    }
}
.login{
width: 8rem;
}
#navbarText{
    width: 20%;
}
.text_styling{
   
    padding: 30px;
    
    width: 35%;
    
    h1{
        color: white;
        font-size: 60px;
        text-align: center;
    }
}